<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ponderosa Audio Controller</title>
</head>

<body>
<h1>Zones</h1>
<ul>
  {{#zones}}
    <li>{{name}}</li>
  {{/zones}}
</ul>

<h1>Sources</h1>
<ul>
  {{#sources}}
    <li>{{name}}</li>
  {{/sources}}
</ul>

</body>
</html>
